*{
    padding: 0;
    margin: 0;

}
html{
    overflow-x: hidden;
}
body{
   
    background-color: rgb(23, 22, 22) ;
    overflow-x: hidden;
    color: white ;
}

@media (min-width: 1024px) {
    /* Your CSS styles for desktop devices go here */
    .top-main-heading{
        
        position: absolute;
        top: 50%;
        width: 30rem;
        z-index: 1;
    }
    .top-main-heading h1{
        font-size: 3.9rem;
    }
    .about-container{
        
        position: absolute;
        top: 50%;
        width: 40rem;
        padding: 1rem;
        color: white;
    }
    .about-img{
        height: 35rem;
        
    }
  }
  
  /* For Tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Your CSS styles for tablet devices go here */
    .top-main-heading{
        
        position: absolute;
        top: 50% !important;
        left: 50%;
       transform: translate(-50%,-50%);
       width:40rem;
         text-align: center;
        
        z-index: 1;
    }
    .about-container{
        
        position: absolute;
        top: 50%;
        width: 30rem;
        padding: 1rem;
        color: white;
    }
   
  }
  
  /* For Mobile Devices */
  @media (max-width: 767px) {
    /* Your CSS styles for mobile devices go here */
    .top-main-heading{
        
        position: absolute;
        top: 50% ;
        left: 50%;
       transform: translate(-50%,-50%);
      
         text-align: center;
        
        z-index: 1;
    }
    .top-main-heading h1{
        font-size: 1.2rem;
        display: none;
    }
    .about-container{
        
        position: absolute;
        top: 50%;
        width: 16rem;
        padding: 1rem;
        color: white;
    }
    .about-container h1{
        font-size: 1.2rem;
    }
    .about-img{
        height: 25rem;
        
    }
  }

  
.nav-item :hover{
   background-color: rgb(0, 0, 0);
   border-radius: 5px;
   
}
.nav-item a:hover{
    color: white !important;
}
.reserve{
    background-color: black;
    padding: 5px;
    transition:.2s;
    border-radius: 5px;
}
.reserve:hover{
    background-color: rgb(254, 227, 48);
    padding: 2px;
    margin: 2px;
    margin: 5px;
    border-radius: 5px;
}
.reserve a {
    text-decoration: none;
    font-style: none;
    color: white;
}
.top-view{
  
    position: relative;
    
}
.top-container-img {
    height:55vw;
    border-radius: 1rem;
    overflow: hidden;
    
    position: relative;
}
.top-container-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 1px rgba(10, 0, 0, 0.468) !important;
}
.menu-img{
  height: 16rem;
}
.menu-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.about-us{
    position: relative;
}

.about-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog-item{
    background-color: black;
    color: white;
    border-radius: 5px;
}
.blog-img{
    height: 16rem;
    border-radius: 5px;
    overflow: hidden;
}
.blog-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.main-menu-img{
    height: 24rem;
}
.main-menu-img img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
.original-souce-img{
    height: 24rem;
}
.original-souce-img img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
.souce-des{
    height: 24rem;
}
.details-links{
    display: flex;
    flex-direction: column;
}
.details-links a{
   text-decoration: none;
   color: white;
}
.foot map{
    height: 10rem;
    width: 10rem;
}
.foot map iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


